<ion-header>

    <ion-navbar>
      <ion-title>Current Mood</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
        <div *ngIf="checkStatus()">
                <h4>No Record</h4>
                <p>Click the button to record your current mood</p>
                  <button ion-button clear icon-only (click)="addNew()">
                  <ion-icon name="create"></ion-icon>
                </button>      
              </div>
            
    <div *ngIf="!checkStatus()">
      <ion-card>
          <ion-list>
          <img class="card-img" item-start [src]="getMood(entry.mood).image" />
          <!-- <div class="card-title">{{entry.location}}</div>
          <div class="card-subtitle">{{entry.timestamp | date: "mm/dd/yyyy"}}</div> -->
  
          <ion-fab right bottom>
            <button ion-fab color="primary" icon-only (click)="addNew()"><ion-icon name="add"></ion-icon></button>
        </ion-fab>
  
      </ion-list>
    </ion-card>
</div>

  </ion-content>
  