page-entry-detail {
    ion-content{
        background-image: url("../assets/imgs/back-d.png");
    }
    
    .select-mood {
        border-color: rgba(0, 0, 0, 0);        
        background-color: rgba(0, 0, 0, 0);
        color: white; 
    }
}
