page-home {

  ion-content{
    background-image: url("../assets/imgs/back-d.png");
}


    ion-card {
        position: relative;
        text-align: left;
      }
    
      .card-title {
        position: absolute;
        top: 6%;
        font-size: 1.0em;
        width: 100%;
        font-weight: bold;
        color:#000;
        margin-left: 0.3em;
      }
    
      .card-subtitle {
        font-size: 0.6em;
        position: absolute;
        top: 26%;
        width: 100%;
        color: #000;
        margin-left: 0.3em;
      }

      .card-img{
          height: 100%;
          width: 100%;
          display: block;
          margin-left: 50%;
      }

     ///style empty state

      .empty-title {
        text-align: center;
        margin-top: 50%;
        color:  #222;
        padding-top: 5em;
      }

      .empty-sub {
        text-align: center;
        margin-top: 1em;
        color: #222;
      }


      .get-started {
        color: white;
       font-weight: 500;
        margin-top: 3em;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

}
