page-signup {
  h2 {
    float: left;
    margin: 64px 0 32px 16px;
  }
  .mood-img{
    display: block;
    margin: 54px 16px 32px 0;
    margin-right: 30px;
    //margin-right: auto;
    //margin-top: 30%;
    width: 72px;
    float: right;
  }
}
